.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #e0eee9; // Choose your own color here
 }
 .table-striped>tbody>tr:nth-child(even)>td,
 .table-striped>tbody>tr:nth-child(even)>th {
    background-color: #F9FCFB; // Choose your own color here
  }
  .btn-group {
    display: flex;
  }
